* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif, 'kalnia';
}

:root {
    --color-0: rgb(112, 25, 105);
    --margin-base: 20px;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}